.my-header {
  background: #a80da8;
}

//Using descendends
// class >(child)> class
// Only with Encapsulation.none
//.align-left > .mat-grid-tile-content{
//  display: flex !important;
//  //flex-direction: column;
//  justify-content: start !important;
//}


//Using ng-deep - WITH-OUT Encapsulation None
//
::ng-deep .align-left > .mat-grid-tile-content {
  display: flex;
  justify-content: start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


.display-flex {
  display: flex;
  flex-direction: row;
}


